.oldie6 {height:700px;width:100%;color:#fff;padding:250px 0;background:#000; position:absolute;z-index:99999999999;text-align:center;background:url(../images/logo.gif) no-repeat center 100px;}
.dc2_bigcube_face2,.dc2_bigcube_face3,.dc2_bigcube_face4,.dc1_face2,.dc1_face4,.dc1_face3 {display:none;}
