<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=1024px, height=768px, user-scalable=1, minimum-scale=0.1, maximum-scale=1.0"> 

<link rel="stylesheet" type="text/css" href="./css/styles.css">
<link rel="stylesheet" type="text/css" href="./css/animation.css">
<link rel="stylesheet" type="text/css" href="./css/animate-custom.css">
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="./js/jquery.transit.min.js"></script>
<script type="text/javascript" src="./js/hoverIntent.js"></script>
<script type="text/javascript" src="./js/jquery.fillmore.min.js"></script>
<script type="text/javascript" src="./js/jquery.spriteOnHover-0.2.5.min.js"></script>
<script type="text/javascript" src="./js/jquery.vgrid.0.1.7.js"></script>
</head>

<body style="background:#000">
<div class="page">
<div id="dc1">

	<div class="dc1_cube" class="dc1_face1_show">
        <div id="dc1_face1" class="dc1_face1 dc1_face">
            <div class="photo_date">
                <div class="city">paris</div>
                <div class="day">19</div>
                <div class="date">03/11/2013</div>
            </div>
            <div class="photo_time">
                <div class="time">
                    <canvas class="time_clock" width="80" height="80" style="margin:0 0 0 0;">The &lt;canvas&gt; element is not supported by your browser!</canvas>
                </div>
                <div class="time_text">11H42</div>
            </div>
            <div class="source twitter">
                #9263#FFRINT
            </div>
            <div class="back">back</div>
            <div class="nav_arrow">
                <div class="nav_arrow_left"></div>
                <div class="nav_arrow_right"></div>
            </div>
        </div>
        <div id="dc1_face2" class="dc1_face2 dc1_face">
            <div class="photo_date">
                <div class="city">paris</div>
                <div class="day">19</div>
                <div class="date">03/11/2013</div>
            </div>
            <div class="photo_time">
                <div class="time">
                    <canvas class="time_clock" width="80" height="80" style="margin:0 0 0 0;">The &lt;canvas&gt; element is not supported by your browser!</canvas>
                </div>
                <div class="time_text">11H42</div>
            </div>
            <div class="source twitter">
                #9263#FFRINT
            </div>
            <div class="back">back</div>
            <div class="nav_arrow">
                <div class="nav_arrow_left"></div>
                <div class="nav_arrow_right"></div>
            </div>
        </div>
        <div id="dc1_face3" class="dc1_face3 dc1_face">
            <div class="photo_date">
                <div class="city">paris</div>
                <div class="day">19</div>
                <div class="date">03/11/2013</div>
            </div>
            <div class="photo_time">
                <div class="time">
                    <canvas class="time_clock" width="80" height="80" style="margin:0 0 0 0;">The &lt;canvas&gt; element is not supported by your browser!</canvas>
                </div>
                <div class="time_text">11H42</div>
            </div>
            <div class="source twitter">
                #9263#FFRINT
            </div>
            <div class="back">back</div>
            <div class="nav_arrow">
                <div class="nav_arrow_left"></div>
                <div class="nav_arrow_right"></div>
            </div>
            
        </div>
        <div id="dc1_face4" class="dc1_face4 dc1_face">
            <div class="photo_date">
                <div class="city">paris</div>
                <div class="day">19</div>
                <div class="date">03/11/2013</div>
            </div>
            <div class="photo_time">
                <div class="time">
                    <canvas class="time_clock" width="80" height="80" style="margin:0 0 0 0;">The &lt;canvas&gt; element is not supported by your browser!</canvas>
                </div>
                <div class="time_text">11H42</div>
            </div>
            <div class="source twitter">
                #9263#FFRINT
            </div>
            <div class="back">back</div>
            <div class="nav_arrow">
                <div class="nav_arrow_left"></div>
                <div class="nav_arrow_right"></div>
            </div>		
        </div>
    </div>
</div>
<div id="dc2">
	<div id="dc2_section1">
    	<div class="userinfo">
        	<div class="avator"><img src="images/avator.jpg" /></div>
            <div class="username">WONDERGC</div>
        </div>
    	<div class="body">VU DE CHINE Pekin felicite Barack Obama <a target="_blank" href="http://t.co/9WlPTB3J">http://t.co/9WlPTB3J</a> @fredfaridgroup </div>
    </div>
    
    <div id="dc2_cube">
	<div class="dc2_header">
    	<div class="btn_like"><span class="like_counts">+</span><span class="like_icon"><img src="images/icon_like.gif" /></span></div>
    	<div class="btn_comments">comments</div>
        <div class="btn_share">share</div>
        <div class="btn_close"></div>
    </div>
    <div class="dc2_cube_wrap">
        <div class="dc2_cube show_comments show_share">
            <div class="comments_box">
            	<div class="comments_list">
                	<div class="comment_item">
                    	<div class="comment_title"><span class="avator"><img src="images/avator.jpg" width="16" height="16" /></span><span class="name">Carlos</span> <span class="date">13 Mar, 2013</span></div>
                        <div class="comment_body">VU DE CHINE Pekin felicite Barack Obama</div>
                    </div>
                    <div class="comment_item">
                    	<div class="comment_title"><span class="avator"><img src="images/avator.jpg" width="16" height="16" /></span><span class="name">Carlos</span> <span class="date">13 Mar, 2013</span></div>
                        <div class="comment_body">VU DE CHINE Pekin felicite Barack Obama</div>
                    </div>
                    <div class="comment_item">
                    	<div class="comment_title"><span class="avator"><img src="images/avator.jpg" width="16" height="16" /></span><span class="name">Carlos</span> <span class="date">13 Mar, 2013</span></div>
                        <div class="comment_body">VU DE CHINE Pekin felicite Barack Obama</div>
                    </div>
                    <div class="comment_item">
                    	<div class="comment_title"><span class="avator"><img src="images/avator.jpg" width="16" height="16" /></span><span class="name">Carlos</span> <span class="date">13 Mar, 2013</span></div>
                        <div class="comment_body">VU DE CHINE Pekin felicite Barack Obama</div>
                    </div>
                    <div class="comment_item">
                    	<div class="comment_title"><span class="avator"><img src="images/avator.jpg" width="16" height="16" /></span><span class="name">Carlos</span> <span class="date">13 Mar, 2013</span></div>
                        <div class="comment_body">VU DE CHINE Pekin felicite Barack Obama</div>
                    </div>
                    
                </div>
                <div class="comment_form">
                	<div class="form_item"><label>Email:</label> <input class="text_input" name="email" type="text" size="56" /></div>
                	<div class="form_item"><label>Comment:</label> <textarea class="text_input" cols="53" rows="6"></textarea></div>
                	<div class="form_item"><input class="button_input" type="button" value="Submit" /></div>
                </div>
            </div>
            <div class="icons_share">
            <ul>
                <li><a href="#" class="facebook"></a></li>
                <li><a href="#" class="google"></a></li>
                <li><a href="#" class="twitter"></a></li>
                <li><a href="#" class="weibo"></a></li>
                <li><a href="#" class="pinterest"></a></li>
                <li><a href="#" class="huaban"></a></li>
            </ul>
            </div>
        </div>
    </div>
    </div>
</div>
<div id="dc3">
	<div class="dc3_wrap"></div>
	<div class="dc3_wrap"></div>
	<div class="dc3_wrap"></div>
</div>

<div class="left_panel">
	<div class="logo"></div>
    <div class="city_time">
    	<div class="city">PARIS</div>
        <div class="time" id="paris_time">12:14</div>
    </div>
    <div class="city_time">
    	<div class="city">SHANGHAI</div>
        <div class="time" id="shanghai_time">12:14</div>
    </div>
    <div class="icon">
    <a href="#" class="weibo">Weibo</a>
    </div>
    <div class="category">
    	<ul>
        	<li><a class="actived" href="#">all</a></li>
        	<li><a href="#">pictures</a></li>
        	<li><a href="#">videos</a></li>
        	<li><a href="#">music</a></li>
        </ul>
    </div>
</div>
	<div class="vgrid">
    <div class="date_span">
    	<div class="full_time">20/02/2013</div>
        <div class="day">20</div>
        <div class="city">paris - shanghai</div>
    </div>
    
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/3.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="instagram"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="instagram"></div></div>
    </div>
    <div class="v_item video">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="video"></div></div>
    </div>
    <div class="v_item video">
        <a>
          <img id="img182" src="./images/4.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="video"></div></div>
    </div>
    <div class="v_item music">
        <a>
          <img id="img182" src="./images/5.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="soundcloud"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item">
        <a>
          <img id="img182" src="./images/6.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="soundcloud"></div></div>
    </div>
    <div class="date_span">
    	<div class="full_time">20/02/2013</div>
        <div class="day">19</div>
        <div class="city">paris - shanghai</div>
    </div>
    
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/3.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="instagram"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="instagram"></div></div>
    </div>
    <div class="v_item video">
        <a>
          <img id="img182" src="./images/4.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item music">
        <a>
          <img id="img182" src="./images/5.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="video"></div></div>
    </div>
    <div class="v_item">
        <a>
          <img id="img182" src="./images/6.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="soundcloud"></div></div>
    </div>
    <div class="date_span">
    	<div class="full_time">20/02/2013</div>
        <div class="day">18</div>
        <div class="city">paris - shanghai</div>
    </div>
    
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/3.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="instagram"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="instagram"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item video">
        <a>
          <img id="img182" src="./images/4.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item music">
        <a>
          <img id="img182" src="./images/5.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="video"></div></div>
    </div>
    <div class="v_item">
        <a>
          <img id="img182" src="./images/6.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="soundcloud"></div></div>
    </div>
    <div class="date_span">
    	<div class="full_time">20/02/2013</div>
        <div class="day">17</div>
        <div class="city">paris - shanghai</div>
    </div>
    
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/3.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="instagram"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="instagram"></div></div>
    </div>
    <div class="v_item video">
        <a>
          <img id="img182" src="./images/4.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item music">
        <a>
          <img id="img182" src="./images/5.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="video"></div></div>
    </div>
    <div class="v_item">
        <a>
          <img id="img182" src="./images/6.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="soundcloud"></div></div>
    </div>
    <div class="date_span">
    	<div class="full_time">20/02/2013</div>
        <div class="day">16</div>
        <div class="city">paris - shanghai</div>
    </div>
    
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/3.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="instagram"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="instagram"></div></div>
    </div>
    <div class="v_item video">
        <a>
          <img id="img182" src="./images/4.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item music">
        <a>
          <img id="img182" src="./images/5.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="video"></div></div>
    </div>
    <div class="v_item">
        <a>
          <img id="img182" src="./images/6.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="soundcloud"></div></div>
    </div>
    <div class="date_span">
    	<div class="full_time">20/02/2013</div>
        <div class="day">15</div>
        <div class="city">paris - shanghai</div>
    </div>
    
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/3.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="instagram"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="instagram"></div></div>
    </div>
    <div class="v_item video">
        <a>
          <img id="img182" src="./images/4.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item music">
        <a>
          <img id="img182" src="./images/5.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="video"></div></div>
    </div>
    <div class="v_item">
        <a>
          <img id="img182" src="./images/6.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="soundcloud"></div></div>
    </div>
    <div class="date_span">
    	<div class="full_time">20/02/2013</div>
        <div class="day">14</div>
        <div class="city">paris - shanghai</div>
    </div>
    
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/3.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="instagram"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="instagram"></div></div>
    </div>
    <div class="v_item video">
        <a>
          <img id="img182" src="./images/4.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item music">
        <a>
          <img id="img182" src="./images/5.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="video"></div></div>
    </div>
    <div class="v_item">
        <a>
          <img id="img182" src="./images/6.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="soundcloud"></div></div>
    </div>
    <div class="date_span">
    	<div class="full_time">20/02/2013</div>
        <div class="day">13</div>
        <div class="city">paris - shanghai</div>
    </div>
    
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/3.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="instagram"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="instagram"></div></div>
    </div>
    <div class="v_item video">
        <a>
          <img id="img182" src="./images/4.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item music">
        <a>
          <img id="img182" src="./images/5.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="video"></div></div>
    </div>
    <div class="v_item">
        <a>
          <img id="img182" src="./images/6.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="soundcloud"></div></div>
    </div>
    <div class="date_span">
    	<div class="full_time">20/02/2013</div>
        <div class="day">12</div>
        <div class="city">paris - shanghai</div>
    </div>
    
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/1.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/2.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item picture">
        <a>
          <img id="img182" src="./images/3.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="instagram"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="instagram"></div></div>
    </div>
    <div class="v_item video">
        <a>
          <img id="img182" src="./images/4.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="twitter"></div></div>
    </div>
    <div class="v_item music">
        <a>
          <img id="img182" src="./images/5.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="video"></div></div>
    </div>
    <div class="v_item">
        <a>
          <img id="img182" src="./images/6.jpg"/>
        </a>
        <div class="item_info">
            <div class="city">paris</div>
            <div class="source"><div class="twitter"></div></div>
            <div class="full_time">20/02/2013</div>
        </div>
        <div class="item_icon"><div class="soundcloud"></div></div>
    </div>
    </div>
<script>
	$width = $(window).width();
	
	$('.vgrid .v_item').live('click',function(){
		$('#dc1').css({'display':'block'});
		$('#dc2').css({'display':'block'});
		$('#dc3').css({'display':'block'});
		
		setTimeout(function(){
			$('#dc2').addClass('opened');
			$('#dc3').addClass('opened');
			$('.left_panel').css('left',$width);
			$('.vgrid').css('margin-left',$width+100);
		},100);
		setTimeout(function(){
			$('#dc1').addClass('opened');
			updateDay();
		},600);
		
		if(!$(this).hasClass('video'))
		{
			$( '.dc3_wrap' ).eq(1).fillmore( { src: "images/b1.jpg" } );
			$( '.dc3_wrap' ).show();
			$('#dc3 iframe').remove();
		}
		else
		{
			$('#dc3 iframe').remove();
			$( '.dc3_wrap' ).hide();
			var iframe = $('<iframe width="560" height="315" src="http://www.youtube.com/embed/MyYlYuaj_zU" frameborder="0" allowfullscreen></iframe>').appendTo('#dc3');
			var height = ($(window).height()-315)/2;
			var width = ($('#dc3').width()-560)/2;
			iframe.css({'margin-top':height,'margin-left':width});
		}
		
	});
	
	bindDc1Event();
	$('#dc1 .back').live('click',function(){
		setTimeout(function(){
			$('#dc2').removeClass('opened');
			$('#dc3').removeClass('opened');
			$('.left_panel').css('left',0);
			$('.vgrid').css('margin-left',100);
			$('#dc3 iframe').remove();
		},500);
		setTimeout(function(){
			$('#dc1').removeClass('opened');
		},100);
		
		setTimeout(function(){
			$('#dc1').css({'display':'none'});
			$('#dc2').css({'display':'none'});
			$('#dc3').css({'display':'none'});
		},1000);
		
	});
	
	$('#dc2 .btn_close').spriteOnHover({fps:24,orientation:'vertical',width:100,height:100});
	
	
	$('.btn_share').click(function(){
		$('.btn_comments').removeClass('actived');
		$(this).addClass('actived');
		$('.dc2_cube').addClass('show_share');
		var top = $('#dc2_cube').position().top;
		if(top > 0)
			$('#dc2_section1').delay(300).animate({'margin-top':-top},1000,'easeOutCubic');
		$('.dc2_header').delay(500).animate({'margin-left':-100},1000,'easeOutCubic');
	});
	
	$('.btn_comments').click(function(){
		$('.btn_share').removeClass('actived');
		$(this).addClass('actived');
		$('.dc2_cube').removeClass('show_share');
		var top = $('#dc2_cube').position().top;
		if(top > 0)
			$('#dc2_section1').delay(300).animate({'margin-top':-top});
		$('.dc2_header').delay(500).animate({'margin-left':-100},1000,'easeOutCubic');
	});
	
	
	$('#dc2 .btn_close').click(function(){
		$('.dc2_header').animate({'margin-left':0},1000,'easeOutCubic');
		$('#dc2_section1').delay(100).animate({'margin-top':0},1000,'easeOutCubic');
		$('.dc2_header div').removeClass('actived');
	});
	
	//like
	$('.btn_like').live('click',function(){
		var count_wrap = $(this).find('.like_counts');
		count_wrap.animate({'opacity':0},function(){
			count_wrap.html(10);
			$(this).animate({'opacity':1});
		});
	});
	
	$('.nav_arrow_right').live('click',function(){
		var rotateY = parseInt($('.dc1_cube').css('rotateY'));
		rotateY -= 90;
		
		$('.dc1_cube').transition({
		  z: -100,
		  rotateY: rotateY
		});
		
		$('.dc1_face').css({'background-color':'#000'});
		
		$('#dc3').append('<div class="dc3_wrap" style="left: '+$('#dc3').width()+'px;"></div>');
		$('#dc3 .dc3_wrap').eq(0).remove();
		//just for demo
		var i = Math.floor(Math.random()*10);
		
		$( '.dc3_wrap' ).eq(2).css({'opacity':0});
		$( '.dc3_wrap' ).eq(1).fillmore( { src: "images/b"+i+".jpg" } ).css({'left':0,'opacity':1});
		$( '.dc3_wrap' ).eq(0).css({'left':-$('#dc3').width(),'opacity':0});
		setTimeout(function(){moveDc1(2);},1000);
	});
	
	$('.nav_arrow_left').live('click',function(){
		$(this).unbind('click');
		var rotateY = parseInt($('.dc1_cube').css('rotateY'));
		rotateY += 90;
		$('.dc1_cube').transition({
		  z: -100,
		  rotateY: rotateY
		});
		
		$('.dc1_face').css({'background-color':'#000'});
		
		$('#dc3 .dc3_wrap').eq(0).before('<div class="dc3_wrap" style="left: -'+$('#dc3').width()+'px;"></div>');
		//just for demo
		var i = Math.floor(Math.random()*10);
		$( '.dc3_wrap' ).eq(0).css({'opacity':0});
		$( '.dc3_wrap' ).eq(0).fillmore( { src: "images/b"+i+".jpg" } ).css({'left':0,'opacity':1});
		$( '.dc3_wrap' ).eq(1).css({'left':$('#dc3').width(),'opacity':0});
		$( '.dc3_wrap' ).eq(2).css({'left':$('#dc3').width(),'opacity':0});
		$('#dc3 .dc3_wrap').eq(3).remove();
		//$( '.dc3_wrap' ).eq(1).delay(2000).css('display','none');
		setTimeout(function(){moveDc1(4);},1000);
	});
	
	function moveDc1(face){
		var new_dc1_cube = $('<div />',{'class':'dc1_cube'}).hide().appendTo('#dc1');
		var face1 = $('<div />',{'class':'dc1_face1 dc1_face'}).appendTo(new_dc1_cube);
		var face2 = $('<div />',{'class':'dc1_face2 dc1_face'}).appendTo(new_dc1_cube);
		var face4 = $('<div />',{'class':'dc1_face4 dc1_face'}).appendTo(new_dc1_cube);
		face1.html($('.dc1_cube .dc1_face'+face).html());
		face2.html($('.dc1_cube .dc1_face'+face).html());
		face4.html($('.dc1_cube .dc1_face'+face).html());
		new_dc1_cube.transition({
		  z: -100,
		  rotateY: 0
		});
		new_dc1_cube.show();
		$('.dc1_cube').eq(0).remove();
		bindDc1Event();
	}
	
	function bindDc1Event(){
		$('.dc1_cube').transition({
		  z: -100,
		  rotateY: 0
		});
		$('#dc1 .back').spriteOnHover({fps:10,orientation:'vertical',width:200,height:98});
		$('#dc1 .nav_arrow_right').spriteOnHover({fps:20,orientation:'vertical',width:98,height:98});
		$('#dc1 .nav_arrow_left').spriteOnHover({fps:20,orientation:'vertical',width:98,height:98});
		$('.time_clock').each(function(){
			draw($(this)[0]);
		});
	}
	
	var vg = $('.vgrid').vgrid({easing: "easeOutQuint",
		time: 400,
		delay: 200,
		fadeIn: {
			time: 500,
			delay: 200
		}
		});
		
		var updateDay = function () {
            var day = 29;
			var iDay = 0;
			
			var updateDayTO = setInterval(function(){
				iDay++;
            	iDayText = (iDay < 10) ? "0" + iDay : iDay;
				$('.photo_date .day').html(iDayText);
				if(iDay == day)
				{
					clearInterval(updateDayTO);
				}
			},30);
        };
		
		
	$('.v_item').hoverIntent(function(){
		$(this).find('.item_info').fadeIn();
	},function(){
		$(this).find('.item_info').fadeOut();
	});
		
		
	//filter all
	$('.category li').eq(0).click(function(){
		$('.category a').removeClass('actived');
		$('a',this).addClass('actived');
		$( ".vgrid" ).load("all.html",function(){
			vg.vgrefresh();
		});
	});
	//filter picture
	$('.category li').eq(1).click(function(){
		$('.category a').removeClass('actived');
		$('a',this).addClass('actived');
		$( ".vgrid" ).load("picture.html",function(){
			vg.vgrefresh();
		});
		
	});
	//filter videos
	$('.category li').eq(2).click(function(){
		$('.category a').removeClass('actived');
		$('a',this).addClass('actived');
		$( ".vgrid" ).load("video.html",function(){
			vg.vgrefresh();
		});
	});
	//filter music
	$('.category li').eq(3).click(function(){
		$('.category a').removeClass('actived');
		$('a',this).addClass('actived');
		$( ".vgrid" ).load("music.html",function(){
			vg.vgrefresh();
		});
	});
	
	
	$(window).bind('keyup',function(event){
		if(event.keyCode == 39 || event.keyCode == 40)
		{
			$('.nav_arrow_right').eq(0).click();
		}
		if(event.keyCode == 37 || event.keyCode == 38)
		{
			$('.nav_arrow_left').eq(0).click();
		}
	});
	//window resize
	resizeWindow();
	$(window).bind('resize',resizeWindow);
	function resizeWindow(){
		var dc2_section1_height = $(window).height() - $('.dc2_header').height();
		$('#dc2_section1').height(dc2_section1_height);
		
		var body_margin_top = (dc2_section1_height - $('#dc2_section1 .body').height())/2;
		$('#dc2_section1 .body').css({'margin-top':body_margin_top});
		
		var dc3_width = $(window).width() - 590;
		$('#dc3').css({'width':dc3_width});
		
		if($('#dc1').hasClass('opened')){
			$('.left_panel').left($(window).width());
			$('.vgrid').left($(window).width()+100);
		}
		
		$('.dc3_wrap').eq(0).css({'left':-dc3_width});
		$('.dc3_wrap').eq(2).css({'left':dc3_width});
	}
       
	  function draw(obj) {
      var canvas = obj;
      if (canvas.getContext) {
        var c2d=canvas.getContext('2d');
        c2d.clearRect(0,0,80,80);
        //Define gradients for 3D / shadow effect
        var grad1=c2d.createLinearGradient(0,0,80,80);
        grad1.addColorStop(0,"#fff");
        c2d.lineWidth=1;
        c2d.save();
        //Outer bezel
        c2d.strokeStyle=grad1;
        c2d.lineWidth=1;
        c2d.beginPath();
        c2d.arc(40,40,38,0,Math.PI*2,true);
        c2d.stroke();
        //Inner bezel
        c2d.restore();
        c2d.translate(40,40);
        //Markings/Numerals
        
        //Fetch the current time
        var hrs=11;
        var min=42;
        var sec=0;
        c2d.strokeStyle="#fff";
        c2d.lineWidth=1;
        c2d.save();
        //Draw clock pointers but this time rotate the canvas rather than
        //calculate x/y start/end positions.
        //
        //Draw hour hand
        c2d.rotate(Math.PI/6*(hrs+(min/60)+(sec/3600)));
        c2d.beginPath();
        c2d.moveTo(0,0);
        c2d.lineTo(0,-22);
        c2d.stroke();
        c2d.restore();
        c2d.save();
        //Draw minute hand
        c2d.rotate(Math.PI/30*(min+(sec/60)));
        c2d.beginPath();
        c2d.moveTo(0,0);
        c2d.lineTo(0,-30);
        c2d.stroke();
        c2d.restore();
        c2d.save();
        
        //Additional restore to go back to state before translate
        //Alternative would be to simply reverse the original translate
        c2d.restore();
      }
    } 
	
	$('#paris_time').html(GetTime(1));
	$('#shanghai_time').html(GetTime(8));
	
	setInterval(function(){
		$('#paris_time').html(GetTime(1));
		$('#shanghai_time').html(GetTime(8));
	},1000*30);
	
	
	function GetTime(k){
    var now=new Date();
    
    var hours=now.getUTCHours();
    var minutes=now.getUTCMinutes();
    var seconds=now.getUTCSeconds();
    hours=hours+k;
    if(hours<0){
    hours+=24;
    }
    hours=fixTime(hours);
    minutes=fixTime(minutes);
    var the_date=hours+":"+minutes;
    return the_date;
    }
	
	function fixTime(num){
	if(num<10){
	num="0"+num;
	}
	return num;
	}
</script>
<script type="application/x-javascript">
    
   	
    
</script>	
</body>

</html>